<%# Write your code here! %>
<h1>Welcome</h1>
<h2>if you tell me your name, I can say hi!</h2>

<form action="/greet" method="POST">
  <lable for="user_name">Name:</lable>
  <p>
    <input type="text" name="user_name" id="user_name"/>
  </p>
<input type="submit" value="submit"/>
</form>